
.light-on-dark
  color white
  text-shadow 0 0 6px hsla(0, 0%, 0%, 0.66)

.svg-inline--fa
  display inline-block
  font-size inherit
  height 1em
  overflow visible
  vertical-align -.125em
  fill white
[theme="light"] .svg-inline--fa
  display inline-block
  font-size inherit
  height 1em
  overflow visible
  vertical-align -.125em
  fill currentColor



  &.fa-w-10
    width .625em

[role="button"], .button
  cursor pointer

.inline-button
  display inline-block
  appearance none
  background none
  border none
  padding 0
  cursor pointer
  font-family inherit
  font-size inherit

[theme="dark"] .language-selector
    .dropdown {
      background-color: rgba(255,255,255, .12);
      color: #fff;
      }

[theme="light"] .language-selector
    .dropdown {
      background-color: #fff;
      color: rgb(34,30,104);
      }

header::after
  content unset !important

.Header 
  top 0

  .language-selector
    padding .5em
    border-radius 14em
    font-size .8em
    user-select none
    display flex

    &:focus
      outline none

    &.dropdown-open
      .dropdown
        display flex
        position absolute
        right 20px
        top 50px
        z-index 1


      .selector-label
        opacity 1

    @media mobileMaxWidthQuery
      font-size 1em
      top 12px
      right 12px

    .selector-label
      display flex
      align-items center
      justify-content flex-end
      opacity .8
      transition opacity .2s

      &:hover
        opacity 1

      @media mobileMaxWidthQuery
        font-size 2rem

      .fa-globe
        margin-right .5em

      .fa-caret-down
        margin-right .5em

      .chosen-language
        margin-right .5em
        word-break keep-all

    .dropdown
      margin-top .5em
      flex-flow column
      text-align left
      padding .2em 0.8em .2em .8em
      display none
      min-width: 155px;
      float: right;

      border-radius 3px;
      box-shadow #ccc 0px 3px 4px;
      transition  all 0.4s ease 0s;


      .language
        color inherit
        text-decoration none
        line-height 1.7

        &:hover
          text-decoration underline

      @media mobileMaxWidthQuery
        background rgba(0,0,0,.9)
        font-size 2rem
        padding .2em 0.8em .2em .8em

        .language
          line-height 2
